/* Navigation */
/* #navbar{
    flex-direction: column;
} */
/* Home Section */
/* #home{

} */
/* Services Section */
/* #services{
    flex-direction: column;
} */
/* #services .box{} */
/* Client Section */
/* #clients{
    overflow: hidden;
} */
/* Contact Us Section */

/* Footer */



@media (min-width:2560px) {
    body {
        background-color: rgba(236, 117, 117, 0.536);
    }
}

@media (min-width:1440px) and (max-width:2559px) {
    body {
        background-color: rgba(255, 33, 185, 0.703);
    }
}

@media (min-width:1024px) and (max-width:1439px) {
    body {
        background-color: rgba(126, 248, 39, 0.784);
    }

}

@media (min-width:768px) and (max-width:1023px) {
    body {
        background-color: rgba(58, 242, 220, 0.793);
    }

    #services {
        flex-direction: column;
    }

    #navbar ul li {
        width: max-content;
    }
}

@media (max-width:767px) {
    body {
        background-color: rgb(130, 72, 247);
    }

    #services {
        flex-direction: column;
    }

    #navbar {
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    #navbar ul li {
        width: max-content;
    }

    #navbar ul li a {
        padding: 0.25rem 0.5rem;
    }

    #clients img {
        height: 3rem;
    }
}